.footer {
  background-color: #181818;
  height: 15vh;
  width: 100%;
}

.playlist-tracklist {
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
}

.content-header {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.content-header img {
  position: inherit;
  width: 230px;
  height: 230px;
  box-shadow: 4px 4px 12px;
}

.playlist-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  justify-content: flex-end;
}

.playlist-desc {
  color: rgb(187, 187, 186);
  font-family: "Poppins";
  font-size: 14px;
  padding: 10px;
  padding-bottom: 0;
}

.playlist-name {
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  padding: 10px;
  padding-bottom: 0;
  font-size: 5vh;
}

.tracks-info {
  display: flex;
  flex-direction: column;
}

.tracks-info-header {
  display: flex;
  /* position: fixed; */
  flex-direction: row;
  /* z-index: 1; */
  align-items: center;
  margin: 15px;
  margin-bottom: 0;
  /* justify-content: space-between; */
  color: white;
  font-family: "Poppins";
  font-size: 14px;
}

.tracks-info hr {
  margin: 0px 15px;
  border-color: #757474;
}

.tracklist ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.track-div {
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  font-family: "Poppins";
}

.track-div li,
.track-number {
  color: white;
  width: 15px;
  padding-right: 20px;
}

.duration {
  margin-left: auto;
}

.track-div img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: inherit;
  padding-right: 15px;
}

.name-div {
  display: flex;
  flex-direction: column;
}

.track-div .name {
  color: white;
  cursor: pointer;
}

.track-div .artists {
  color: rgb(187, 187, 186);
  font-size: 14px;
}

@media only screen and (max-width: 700px) {
  .content-header {
    flex-direction: column;
    align-items: center;
  }

  .content-header img {
    width: 270px;
    height: 270px;
  }

  .playlist-name {
    font-size: 3vh;
  }

  .tracks-info,
  .track-div li {
    display: none;
  }
}
